#!/usr/bin/env zsh

# CROSS-PLATFORM SHIT #
if [ -n "$WSL_DISTRO_NAME" ]; then
    alias g="git.exe"
    alias c='cargo.exe'
    alias love='love.exe .'
    alias z="zig.exe"
    alias ad='arduino-cli.exe'
else
    alias g="git"
    alias c="cargo"
    alias z="zig"
fi

# BASE #
export WS=$WORKSHOP
cdw () {
    cd $WORKSHOP/$1
}

alias A='sudo apt'
alias a='apt'
alias e='$EDITOR'
alias E='sudo $EDITOR'
alias l='eza -lAh --group-directories-first'
function lm() {
    eza -lAr -s=modified --color=always "$@" | head -n 20
}

# EDITOR #
alias erc='e ~/.zshrc; source ~/.zshrc'
alias rc='source ~/.zshrc'
function ebin() {
    e ~/.local/bin/"$1"
    chmod +x ~/.local/bin/"$1"
}

# GIT #
alias ga='g add `g rev-parse --show-toplevel`'
alias gac='ga && git commit'
alias gacp='gac && g push'
alias gsync='gac -m "#" && g push'
function gacpm() {
    ga && git commit -m "$1" && g push
}

alias gst='g status'
alias gd='g diff'
alias glog='g log --oneline --graph'

# GITHUB #
alias td='gh issue create --body "" --title'
alias tdl="PAGER=cat gh issue list"
alias tdd="gh issue close"

# DOCKER #
alias d='docker'
alias dc='docker compose'

# LOOPER #
alias lp='looper'
function lps() {
    old_path=$(pwd)
    cd; cd dotfiles_private
    gsync
    cd $old_path
}
alias lpe='e $(looper path schedule)'

function mix() {
    gh issue list --state all --json number,title,body,comments -L 999 | \
        jq 'map({number, title, body, comments: (.comments | map(.body))})' > github-issues-dump.json
    git diff > git-diff-dump.txt
    git status > git-status-dump.txt
    # Strips color codes
    # tail -n 200 /tmp/zsh_session.log | sed 's/\x1b\[[0-9;]*m//g' > terminal-history-dump.txt
    npx repomix@latest -o ~/Desktop/repomix-output.md
    rm github-issues-dump.json git-diff-dump.txt git-status-dump.txt
}

function mixs() {
    cb > shell-dump.txt
    mix
    rm shell-dump.txt
}

autoload zmv
setopt extendedglob

function mkmv() {
    mkdir -p -- $3:h
    mv -- $2 $3
}
alias zmvd="zmv -p mkmv"

# Conflicts with neovim embedded terminal
bindkey -r "^[a" accept-and-hold
bindkey -r "^[b" backward-word
bindkey -r "^[c" capitalize-word
bindkey -r "^[d" kill-word
bindkey -r "^[f" forward-word
bindkey -r "^[g" get-line
bindkey -r "^[h" run-help
bindkey -r "^[l" "ls^J"
bindkey -r "^[m" copy-prev-shell-word
bindkey -r "^[n" history-search-forward
bindkey -r "^[p" history-search-backward
bindkey -r "^[q" push-line
bindkey -r "^[s" spell-word
bindkey -r "^[t" transpose-words
bindkey -r "^[u" up-case-word
bindkey -r "^[w" kill-region
bindkey -r "^[x" execute-named-cmd
bindkey -r "^[y" yank-pop
bindkey -r "^[z" execute-last-named-cmd

export TERM=xterm-256color
