[user]
	name = girvel
	email = widauka@ya.ru
[push]
	autoSetupRemote = true
[core]
	editor = vi
	autocrlf = input
[diff]
	algorithm = histogram
	colorMoved = plain
	renames = true
[commit]
	verbose = true
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = master
[http]
	proxy = socks5://192.168.0.240:1080
