[user]
	name = girvel
	email = widauka@ya.ru
[push]
	autoSetupRemote = true
[pull]
	rebase = false
[core]
	editor = nvim
	autocrlf = input
[diff]
	algorithm = histogram
	colorMoved = plain
	renames = true
[commit]
	verbose = true
[init]
	defaultBranch = master
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential
[include]
    path = ~/.gitconfig.local
# [https]
#     proxy = "socks5h://192.168.0.240:1080"
# [http]
#     proxy = "socks5h://192.168.0.240:1080"
